$theme-red: rgb(214, 73, 73);
$theme-green: rgb(28, 157, 101);
$theme-dark-green: rgb(18 76 51);
$theme-dark-red: rgb(161, 17, 17);
$theme-gray: rgb(243, 243, 243);
$theme-gray-hover: rgb(226, 226, 226);

$white: rgb(255, 255, 255);

$small-border-size: 5px;