@import '../../../global-styles/variables.scss';

.table-title-area {
    display: flex;
    gap: 20px;
}

.table-container {
    height: 300px;
    overflow-y: auto;

    table {
        table-layout: fixed;
        text-align: center;
        width: 100%;

        thead {
            background-color: $theme-green;
            border-radius: 20px;
            color: $white;
            font-size: 13px;
            position: sticky;
            top: 0;

            th {
                padding: 10px 2px;
            }
            
            tr {
                //width: 100%;
                th:first-child {
                    border-top-left-radius: $small-border-size;
                    border-bottom-left-radius: $small-border-size;
                }

                th:last-child {
                    border-top-right-radius: $small-border-size;
                    border-bottom-right-radius: $small-border-size;
                }
            }
        }
    }
}